a.link-payment {
  color: #82bef6 !important;
}

#guide-goa {
  h1 {
    font-size: 2.2rem;
  }

  p {
    color: #515151;
  }

  img {
    width: 100%;
  }

  .open-mod-table:hover {
    background-color: #70a2f6;
    color: white;
  }

  .open-mod-table {
    cursor: pointer;
  }
}
