<div [ngSwitch]="modalType">
  <!-- Products -->
  <div *ngSwitchCase="'info_pages'">
    <div class="d-flex justify-content-between">
      <h3 mat-dialog-title>Information of the page</h3>
      <small *ngIf="infoPage.id">Date of creation {{infoPage.inserted_at}}</small>
    </div>
    <mat-dialog-content>
      <form [formGroup]="form">
        <div class="form-group">
          <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput placeholder="Title" formControlName="title" type="text">
            <mat-error>{{getError('title')}}</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <div [froalaEditor] formControlName="content" id="content"></div>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>Select one page</mat-label>
            <mat-select formControlName="page" (selectionChange)="changePage($event.value)">
              <mat-option *ngFor="let page of pages" [value]="page">{{page}}</mat-option>
            </mat-select>
            <mat-error>{{getError('page')}}</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>Select one section</mat-label>
            <mat-select formControlName="section">
              <mat-option *ngFor="let section of sections" [value]="section.id">{{section.value}}</mat-option>
            </mat-select>
            <mat-error>{{getError('section')}}</mat-error>
          </mat-form-field>
        </div>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button class="mat-raised-button" type="submit" (click)="save()" [disabled]="form.invalid">
        Save
      </button>
      <button mat-button class="mat-raised-button" (click)="close()">Close</button>
    </mat-dialog-actions>
  </div>

  <!-- Images -->
  <div *ngSwitchCase="'images'">
    <h3 mat-dialog-title>{{infoPage.title}}</h3>
    <mat-dialog-content>
      <h4>Add image</h4>
      <form [formGroup]="formImage" class="row">
        <div class="form-group col-md-6">
          <label>Imagen</label>
          <input id="image-infoPage" type="file" class="form-control" accept="image/*" (change)="uploadImage($event)">
          <p class="m-0 p-0 text-left">
            <small>Upload image</small>
          </p>
        </div>
      </form>
      <button mat-button class="mat-raised-button mr-3" type="submit" (click)="saveImage()" [disabled]="form.invalid">
        Save
      </button>
      <hr>
      <h4>Edit images</h4>
      <form [formGroup]="formImageData">
        <div *ngIf="infoPage.images[0].id_image !== '0'">
          <div class="p-1" *ngFor="let image of infoPage.images; let i = index">
            <hr class="mb-3">
            <div class="row">
              <div class="image-content col-md-6 col-12">
                <img class="img-fluid" [src]="infoPage.images[i].image" [alt]="infoPage.images[i].id_image">
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Image</label>
                  <input type="file" class="form-control" accept="image/*" (change)="uploadImage($event)">
                  <p class="m-0 p-0 text-left">
                    <small>Upload image</small>
                  </p>
                </div>
                <button mat-button class="mat-raised-button mr-3" type="submit"
                        (click)="editDataImage(infoPage.images[i].id_image)"
                        [disabled]="form.invalid">
                  Save
                </button>
                <button mat-button class="mat-raised-button" type="submit"
                        (click)="deleteDataImage(infoPage.images[i].id_image, i)"
                        [disabled]="form.invalid" color="warn">
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="infoPage.images[0].id_image === '0'">
          <div class="image-content col-md-4 col-12">
            <img [src]="infoPage.images[0].image" [alt]="infoPage.images[0].id_image">
          </div>
          <div class="image-content col-md-8 col-12">
            <h6>This image is by default. Upload new image</h6>
          </div>
        </div>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button class="mat-raised-button" (click)="close()">Close</button>
    </mat-dialog-actions>
  </div>
</div>
