<div class="products">
  <div class="products-head">
    <h2>Store</h2>
  </div>

  <div class="products-box">
    <div *ngIf="categories" class="product-filter">
      <div class="product-filter-head"
           (click)="isToggle = isToggle === 'content-filters' ? 'content-filters isToggle' : 'content-filters'">
        <h4><i class="fas fa-filter mr-3"></i>Filters</h4>
      </div>
      <div [class]="isToggle">
        <ul>
          <li>
            <h6>Categories</h6>
            <label *ngFor="let category of categories; let index = index" class="filter-category">
              <input type="checkbox" [id]="category.id" [(ngModel)]="filterListCategory[index]">
              <span>{{category.name}}</span>
            </label>
          </li>
          <li>
            <h6>Tags</h6>
            <label *ngFor="let tag of tags; let index = index" class="filter-category">
              <input type="checkbox" [id]="tag.id" [(ngModel)]="filterListTag[index]">
              <span>{{tag.name}}</span>
            </label>
          </li>
          <li>
          <li>
            <h6>Select</h6>
            <label for="order_quantity">
              <input type="checkbox" id="order_quantity" [(ngModel)]="filterOrderOrder">
              <span>of menor to mayor</span>
            </label>
            <label for="order">Order By
              <select class="form-control" name="order" id="order" [(ngModel)]="filterOrderBy">
                <option value="" selected>Select</option>
                <option value="prices">Prices</option>
                <option value="evaluation">Evaluation</option>
              </select>
            </label>
            <label for="quantity">Quantity
              <select class="form-control" name="quantity" id="quantity" [(ngModel)]="filterQuantity">
                <option value="" selected>Select</option>
                <option value="1-100">1 - 100</option>
                <option value="100-500">100 - 500</option>
                <option value="500-1000">500 - 1000</option>
              </select>
            </label>
          </li>
          <li>
            <h6>Dates</h6>
            <div class="form-group">
              <label for="date_one">Date One
                <input class="form-control" type="date" id="date_one" [(ngModel)]="filterDateOne">
              </label>
            </div>
            <div class="form-group">
              <label for="date_two">Date Two
                <input class="form-control" type="date" id="date_two" [(ngModel)]="filterDateTwo">
              </label>
            </div>
          </li>
        </ul>
        <div class="text-right pr-3">
          <button mat-raised-button color="primary" (click)="searchProductFilter()">Search</button>
        </div>
      </div>
    </div>

    <div class="product_search">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput placeholder="search" (input)="searchProductFilter(1000)" [(ngModel)]="search" type="search">
        <button mat-button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="products-content">
      <div class="products-all">
        <div *ngIf="products; else noData">
          <div *ngFor="let product of products" class="product-item">
            <div class="image">
              <img [src]="product.images[0].image" [alt]="product.name">
            </div>
            <div class="info">
              <h6>{{product.name}}</h6>
              <p>{{product.regular_price}}</p>
            </div>
            <button [routerLink]="['/client/product-detail/', product.id]" class="global-button green pl-4 pr-4">
              Show
            </button>
          </div>
        </div>
        <ng-template #noData>
          <div class="d-flex justify-content-between mb-3">
            <h3>{{message}}</h3>
          </div>
        </ng-template>

        <div class="pagination" *ngIf="pagination && pagination.lastPage > 1">
          <h6 *ngFor="let item of pagination.lastPage" [class]="{selected: (item === pagination.page)}"
              (click)="searchProductPage(item)">
            {{ item }}
          </h6>
          <div *ngIf="pagination.page < pagination.lastPage" class="next"
               (click)="searchProductPage(pagination.page + 1)">
            <span>next</span>
            <img src="../../../assets/client/Arrow_icon_down.png" alt="image next">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
