<div *ngIf="infoPages; else noData">
  <div class="d-flex justify-content-between mb-3">
    <h3 class="mb-2">List of products</h3>
    <div class="text-right">
      <button class="btn-sm btn-primary" (click)="openDialog({}, 'info_pages')">Create</button>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col" width="10px">Nº</th>
      <th scope="col">Title</th>
      <th scope="col">Page</th>
      <th scope="col">Section</th>
      <th scope="col" width="10"></th>
      <th scope="col" width="10"></th>
      <th scope="col" width="10"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let infoPage of infoPages; let index = index">
      <th scope="col">{{index + 1}}</th>
      <td>{{infoPage.title}}</td>
      <td>{{infoPage.page}}</td>
      <td>{{infoPage.section}}</td>
      <td>
        <button class="btn btn-sm btn-primary" (click)="openDialog(infoPage, 'images')">Images</button>
      </td>
      <td>
        <button class="btn btn-sm btn-primary" (click)="openDialog(infoPage, 'info_pages')">Edit</button>
      </td>
      <td>
        <button class="btn btn-sm btn-danger" (click)="deleteInfoPage(infoPage.id)">
          Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #noData>
  <div class="d-flex justify-content-between mb-3">
    <h3>{{message}}</h3>
    <div class="text-right">
      <button mat-raised-button color="primary" (click)="openDialog({}, 'infoPages')">Create</button>
    </div>
  </div>
</ng-template>
