<div id="c-panel-home">
  <div class="carousel-custom">
    <ngx-slick-carousel class="carousel"
                        #slickModal="slick-carousel"
                        [config]="slideConfig">
      <div ngxSlickItem *ngFor="let image of images" class="slide">
        <img [src]="image.path" alt="home one">
      </div>
    </ngx-slick-carousel>
  </div>
  <div class="d-flex align-items-center justify-content-center text-center">
    <h2>Welcome to Global Pulses Market</h2>
  </div>
</div>
