<div *ngIf="roles; else noData">
  <div class="d-flex justify-content-between mb-3">
    <h3 class="mb-2">List of users of panel control</h3>
    <div class="text-right">
      <button class="btn-sm btn-primary" (click)="openDialog(null)">Create</button>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col" width="10px">Nº</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Date</th>
      <th scope="col" width="10"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let role of roles; let index = index">
      <th scope="col">{{index + 1}}</th>
      <td>{{role.name}}</td>
      <td>{{role.email}}</td>
      <td>{{formDate(role.inserted_at)}}</td>
      <td>
        <button class="btn btn-sm btn-danger" (click)="confirmDialog(role.iduser)">
          Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<ng-template #noData>
  <div class="d-flex justify-content-between mb-3">
    <h3>{{message}}</h3>
    <div class="text-right">
      <button mat-raised-button color="primary" (click)="openDialog()">Create</button>
    </div>
  </div>
</ng-template>
