<h2 mat-dialog-title>Information of user</h2>
<mat-dialog-content [formGroup]="form">
  <div class="form-group">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" formControlName="email" type="email">
      <mat-error>{{ getError('email')}}</mat-error>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" formControlName="password" [type]="hidePass ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error>{{ getError('password')}}</mat-error>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <mat-label>Repeat password</mat-label>
      <input matInput placeholder="Repeat password" formControlName="pass_repeat" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error>{{ getError('pass_repeat')}}</mat-error>
    </mat-form-field>
  </div>

  <div style='color:#ff7355' *ngIf="form.get('password').value !== form.get('pass_repeat').value">
    The password not match
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button class="mat-raised-button" type="submit" (click)="save()" [disabled]="form.invalid">
    Save
  </button>
  <button mat-button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>
