<div *ngIf="user; else noData">
  <h3>Information of the profile</h3>
  <form [formGroup]="form">
    <div class="form-group">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" type="email">
        <mat-error>{{getError(form, 'email')}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput placeholder="Phone" formControlName="phone" type="text">
        <mat-error>{{getError(form, 'phone')}}</mat-error>
      </mat-form-field>
    </div>
    <div class="text-right">
      <button type="submit" class="btn-sm btn-primary" (click)="send()">Save</button>
    </div>
  </form>
  <hr>
  <h3>Password</h3>
  <form [formGroup]="formPass">
    <div class="form-group">
      <mat-form-field>
        <mat-label>Actual Password</mat-label>
        <input matInput placeholder="Actual Password" formControlName="oldPassword" type="password">
        <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error>{{getError(formPass, 'oldPassword')}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label>New Password</mat-label>
        <input matInput placeholder="New Password" formControlName="newPassword" type="password">
        <mat-icon matSuffix (click)="hidePass = !hidePassNew">{{hidePassNew ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error>{{getError(formPass, 'newPassword')}}</mat-error>
      </mat-form-field>
    </div>
    <div class="text-right">
      <button type="submit" class="btn-sm btn-primary" (click)="sendPass()">Save</button>
    </div>
  </form>
  <hr class="mt-4 mb-4">
  <div class="text-right">
    <button type="submit" class="btn-sm btn-danger" (click)="deleteData()">
      Delete account
    </button>
  </div>
</div>
<ng-template #noData>
  <div class="d-flex justify-content-between mb-3">
    <h3>{{message}}</h3>
  </div>
</ng-template>
