<div id="language">
  <h2 class="text-center mb-5">Select Your Language</h2>
  <ol class="flags">
    <li>
      <p>English</p>
      <img src="../../../assets/logo.png" alt="flag">
    </li>
    <li>
      <p>English</p>
      <img src="../../../assets/logo.png" alt="flag">
    </li>
    <li>
      <p>English</p>
      <img src="../../../assets/logo.png" alt="flag">
    </li>
    <li>
      <p>English</p>
      <img src="../../../assets/logo.png" alt="flag">
    </li>
    <li>
      <p>English</p>
      <img src="../../../assets/logo.png" alt="flag">
    </li>
    <li>
      <p>English</p>
      <img src="../../../assets/logo.png" alt="flag">
    </li>
    <li>
      <p>English</p>
      <img src="../../../assets/logo.png" alt="flag">
    </li>
  </ol>
</div>
