<div id="header-about">
  <div class="image"></div>
</div>

<main id="about">
  <div id="about-us">
    <section class="what-is">
      <div class="wrapper">
        <h2 class="mb-5">What is Global Pulses Market?</h2>
        <div class="content">
          <div class="info">
            <p>Somos una startup de jóvenes emprendedores, dedicados a optimizar la comercialización electrónica de
              granos.
              Nuestro propósito es minimizar las brechas de información y comunicación en toda la cadena comercial
              sobre
              precios de oferta y demanda; análisis y tendencias, en un mercado como el de las specialities.</p>
            <p>GPM tiene como MISIÓN generar las mejores oportunidades de negocios para nuestros usuarios. Esto lo
              logramos
              gracias al gran equipo de profesionales, al empoderamiento de la tecnología y a la autonomía de todos
              los
              actores participes en la comercialización de los productos.</p>
            <p>Gracias a una mirada distinta del mercado tradicional, con el compromiso de nuestros usuarios y con una
              plataforma robusta mejoraremos la capacidad de negocios en plataformas digitales del sector
              agropecuario.</p>
          </div>
          <div class="image">
            <img src="../../../assets/logo.png" alt="logo">
          </div>
        </div>
      </div>
    </section>
    <section class="social">
      <div class="wrapper">
        <div class="col">
          <p>Follow us</p>
          <div class="image-social">
            <ul>
              <li><a href="/#" class="twitter"></a></li>
              <li><a href="/#" class="facebook"></a></li>
              <li><a href="/#" class="linkedin"></a></li>
              <li><a href="/#" class="instagram"></a></li>
            </ul>
          </div>
        </div>
        <div class="col">
          <p>Media contact</p>
          <a href="/#">contact@gpm.com</a>
        </div>
      </div>
    </section>
    <hr>
    <section class="sing-up">
      <div class="wrapper">
        <p>Sign up for a free Heroku account and discover the GPM experience for yourself.</p>
        <a href="/#" class="btn">Sign up for free account</a>
      </div>
    </section>
  </div>
  <hr>
  <div id="how-to">
    <section class="how-to">
      <div class="wrapper">
        <h2 class="mb-5">How do we do it?</h2>
        <p>A través de una gran red de contactos generados en las principales ferias de alimentos por todo el mundo.
          Donde nos enfocamos en los clientes que vision a largo plazo, con intensiones de generar fuertes vínculos
          comerciales.
          Por medio de un sistema de oferta y demanda se podrá consultar el precio de mercado de venta o compra de
          cada producto. Luego de cada transacción realizada, los usuarios podrán calificar su experiencia, generando
          un perfil para cada usuario según su comportamiento.
        </p>
      </div>
    </section>
  </div>
  <hr>
  <div id="benefits">
    <section class="benefits">
      <div class="wrapper">
        <h2 class="mb-4">Benefits</h2>
        <ul>
          <li>Incorporar libremente todo tipo de producto de specialities según la oferta o demanda.</li>
          <li>Gestionar comunicaciones en línea a través de la plataforma.</li>
          <li>Comercializar productos orgánicos e inorgánicos.</li>
          <li>Mediante una membresía los usuarios podrán obtener información de alta calidad como: tendencias,
            novedades, ofertas, entre otros.
          </li>
          <li>Contamos con una calculadora de fletes internacionales asociados a empresas marítimas, terrestres y
            aéreos.
          </li>
        </ul>
      </div>
    </section>
  </div>
</main>
