<div id="content-parent" *ngIf="infoPages">
  <div id="header-about">
    <img *ngIf="infoPages.header" [src]="infoPages?.header.images[0].image" [alt]="infoPages?.header.title">
    <div class="image"></div>
  </div>

  <main id="about">
    <div id="about-us" data-aos="fade-up">
      <section class="what-is">
        <div class="wrapper">
          <h2 *ngIf="infoPages.what_is" class="mb-5 title">{{infoPages.what_is[0].title}}</h2>
          <div class="content">
            <div *ngIf="infoPages.what_is" class="info paragraph" [innerHTML]="infoPages.what_is[0].content"></div>
            <div class="image">
              <img [src]="infoPages.what_is[0].images[0].image" [alt]="infoPages.what_is[0].title">
            </div>
          </div>
        </div>
      </section>
      <section class="social">
        <div class="wrapper">
          <div class="col">
            <p>Follow us</p>
            <div class="image-social">
              <ul>
                <li><a href="/#" class="twitter"></a></li>
                <li><a href="/#" class="facebook"></a></li>
                <li><a href="/#" class="linkedin"></a></li>
                <li><a href="/#" class="instagram"></a></li>
              </ul>
            </div>
          </div>
          <div class="col">
            <p>Media contact</p>
            <a href="/#">contact@gpm.com</a>
          </div>
        </div>
      </section>
      <hr>
      <section class="sing-up">
        <div class="wrapper">
          <p>Sign up for a free account and discover the GPM experience for yourself.</p>
          <a routerLink="/index/register" class="btn">Sign up for free account</a>
        </div>
      </section>
    </div>
    <hr>
    <div id="how-to" data-aos="fade-up">
      <section class="how-to">
        <div class="wrapper">
          <h2 *ngIf="infoPages.how_to" class="mb-5 title">{{infoPages.how_to[0].title}}</h2>
          <div *ngIf="infoPages.how_to" class="paragraph" [innerHTML]="infoPages.how_to[0].content"></div>
        </div>
      </section>
    </div>
    <hr>
    <div id="benefits" data-aos="fade-up">
      <section class="benefits">
        <div class="wrapper">
          <h2 *ngIf="infoPages.benefits" class="mb-4 title">{{infoPages.benefits[0].title}}</h2>
          <div *ngIf="infoPages.benefits" class="paragraph" [innerHTML]="infoPages.benefits[0].content"></div>
        </div>
      </section>
    </div>
  </main>
</div>
