.order-order {
  padding: 10px;
  width: 100%;
}

.table-order tr td, .table-order tr th {
  vertical-align: middle;
}

.status-order {
  align-items: center;
  border-bottom: 1px solid #CCC;
  display: flex;
  justify-content: space-between;
}

button {
  background: transparent;
  border: none;
  font-size: .9rem;
  font-weight: 600;
  outline: none;
  padding: 10px 15px;
  text-transform: uppercase;
}

.active {
  border-bottom: 5px solid #74a0c7;
}

::ng-deep .mat-raised-button {
  line-height: initial;
}
