main {
  padding-top: 70px;
  max-width: 1360px;
  margin: 0 auto;
}

@media screen and (min-width: 1360px) {

}

@media screen and (min-width: 1920px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 700px) {

}

@media screen and (max-width: 400px) {

}
