<main id="membership" class="position-menu">
  <section class="pricing">
    <div class="wrapper">
      <h2>Membership</h2>
      <ul class="list-pricing">
        <li class="content">
          <img src="../../../../assets/logo.png" alt="logo">
          <h5>USD 5</h5>
          <p>Pricing monthly</p>
          <hr>
          <ul class="list-benefits">
            <li>Incorporar libremente todo tipo de producto de specialities según la oferta o demanda.</li>
            <li>Gestionar comunicaciones en línea a través de la plataforma.</li>
            <li>Comercializar productos orgánicos e inorgánicos.</li>
            <li>Mediante una membresía los usuarios podrán obtener información de alta calidad como: tendencias,
              novedades, ofertas, entre otros.
            </li>
            <li>Contamos con una calculadora de fletes internacionales asociados a empresas marítimas, terrestres y
              aéreos.
            </li>
          </ul>
          <hr>
          <a href="/#" class="btn">Obtener Plan</a>
        </li>
      </ul>
    </div>
  </section>
</main>
