<main id="membership" class="position-menu" *ngIf="infoPages">
  <div id="header-membership">
    <img src="../../../assets/home/payment.jpg" alt="membership header image">
  </div>
  <section class="pricing">
    <div class="wrapper">
      <ul class="list-pricing" data-aos="fade-up">
        <li class="content">
          <h5>USD {{amount}}</h5>
          <p>{{infoPages.info[0].title}}</p>
          <hr>
          <div class="list-benefits" [innerHTML]="infoPages.info[0].content"></div>
          <hr>
          <a href="/#" class="btn">Obtener Plan</a>
        </li>
      </ul>
    </div>
  </section>
</main>
