<div id="content-parent" *ngIf="infoPages">
  <div class="header-info" id="header-info">
    <img src="../../../assets/home/background-home.jpg" [alt]="infoPages.header[0].title">
    <div class="header-group">
      <h1 class="title">{{infoPages.header[0].title}}</h1>
      <p class="paragraph" [innerHTML]="infoPages.header[0].content"></p>
      <a [routerLink]="['/index/login']">Join Us</a>
    </div>
  </div>

  <main id="home">
    <section id="home-about">
      <div class="content">
        <img [src]="infoPages.about[0].images[0].image" [alt]="infoPages.title">
        <div>
          <h3 class="title">{{infoPages.about[0].title}}</h3>
          <p class="paragraph" [innerHTML]="infoPages.about[0].content"></p>
        </div>
      </div>
    </section>
    <section id="home-trading">
      <div class="content">
        <div class="trading-info">
          <h3 class="title">{{infoPages.trading[0].title}}</h3>
          <p class="paragraph" [innerHTML]="infoPages.trading[0].content"></p>
        </div>
        <div class="trading-slick" *ngIf="infoPages.trading[0].images">
          <ngx-slick-carousel class="carousel"
                              #slickModal="slick-carousel"
                              [config]="slideConfig">
            <div ngxSlickItem *ngFor="let n of infoPages.trading[0].images" class="slide">
              <img [src]="n.image" alt="logo">
            </div>
          </ngx-slick-carousel>
        </div>
      </div>
    </section>
    <section id="home-how-to">
      <div class="content">
        <div class="how-to-image">
          <img [src]="infoPages.how_to[0].images[0].image" [alt]="infoPages.how_to[0].title">
        </div>
        <div class="how-to-info">
          <h3 class="title">{{infoPages.how_to[0].title}}</h3>
          <p class="paragraph" [innerHTML]="infoPages.how_to[0].content"></p>
        </div>
      </div>
    </section>
    <section id="home-membership">
      <div class="content">
        <h3 class="title">{{infoPages.membership[0].title}}</h3>
        <img [src]="infoPages.membership[0].images[0].image" [alt]="infoPages.membership[0].title">
        <p class="paragraph" [innerHTML]="infoPages.membership[0].content"></p>
      </div>
    </section>
    <section id="home-payments">
      <div class="content">
        <h4 class="title">Accept Payments</h4>
        <div class="payments-info">
          <img src="../../../assets/logo.png" alt="member">
          <img src="../../../assets/logo.png" alt="member">
          <img src="../../../assets/logo.png" alt="member">
          <img src="../../../assets/logo.png" alt="member">
        </div>
      </div>
    </section>
    <section id="home-testimony" data-aos="fade-up" data-aos-once="true">
      <div class="content">
        <h3 class="title">Our users</h3>
        <div class="testimony-slick">
          <ngx-slick-carousel class="carousel"
                              #slickModal="slick-carousel"
                              [config]="slideConfigTestimony">
            <div ngxSlickItem *ngFor="let testimony of infoPages.testimony" class="slide">
              <div>
                <p class="mt-5 mb-5" [innerHTML]="testimony.content"></p>
                <div class="user-info d-flex align-items-center">
                  <img [src]="testimony.images[0].image" [alt]="testimony.title">
                  <h6>{{testimony.title}}</h6>
                </div>
              </div>
            </div>
          </ngx-slick-carousel>
        </div>
      </div>
    </section>
  </main>
</div>
