.profile {
  padding: 20px 50px;
}

.message-waiting {
  background-color: rgba(4, 169, 235);
  color: white;
  margin: 10px 0;
}

.content-information {
  background-color: #f9f9f9;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 6px rgba(25, 25, 34, .16);
  box-shadow: 0 0 6px rgba(25, 25, 34, .16);
}

.map-payment #map {
  height: 300px;
  width: 100%;
}

/* Navigation */
.menu-navigation {
  align-items: center;
  border-bottom: 1px solid #CCC;
  display: flex;
  justify-content: space-between;
}

.menu-navigation button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: .9rem;
  font-weight: 600;
  outline: none;
  padding: 10px 15px;
  text-transform: uppercase;
}

.menu-navigation .active {
  border-bottom: 5px solid #74a0c7;
}

/* Image profile */
.profile img[alt="photo profile"] {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 6px rgba(25, 25, 34, .16);
  box-shadow: 0 1px 6px rgba(25, 25, 34, .16);
  height: 150px;
  width: 150px;
}

.content-profile-image {
  position: relative;
}

.content-profile-image:hover label[for="image-profile"] {
  opacity: 1;
}

.content-profile-image:hover .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 150px;
  position: absolute;
  transition: all ease-in .1s;
  width: 150px;
  z-index: 10;
}

label[for="image-profile"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  z-index: 20;
}

label[for="image-profile"] i {
  background-color: white;
  border-radius: 50%;
  font-size: 1.4rem;
  padding: 14px;
  transition: all ease-in .1s;
}

label[for="image-profile"] i:hover {
  font-size: 1.6rem;
  padding: 16px;
}

input[id="image-profile"] {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.btn.delete-button {
  background-color: var(--color-error);
}

@media screen and (min-width: 1360px) {

}

@media screen and (min-width: 1920px) {

}

@media screen and (max-width: 1024px) {
  .profile {
    padding: 20px 20px;
  }

  .profile img[alt="photo profile"] {
    height: 120px;
    width: 120px;
  }

  .content-profile-image:hover .overlay {
    height: 120px;
    width: 120px;
  }
}

@media screen and (max-width: 700px) {
  .profile img[alt="photo profile"] {
    height: 80px;
    width: 80px;
  }

  .content-profile-image:hover .overlay {
    height: 80px;
    width: 80px;
  }
}

@media screen and (max-width: 400px) {

}
