<footer>
  <div class="wrapper">
    <div class="links">
      <ul>
        <li><h6>Resources</h6></li>
        <li><a routerLink="guide">Guide</a></li>
      </ul>
      <ul>
        <li><h6>About</h6></li>
        <li><a routerLink="about">About us</a></li>
      </ul>
      <ul>
        <li><h6>Support</h6></li>
        <li><a routerLink="contact">Contacts</a></li>
        <li><a routerLink="membership">Membership</a></li>
      </ul>
    </div>
    <div class="social">
      <h5>Subscribe to our newsletter</h5>
      <form>
        <input type="text">
        <input type="submit" value="GO">
      </form>
    </div>
  </div>
  <div class="wrapper-bottom">
    <p>&copy; 2019 GPM</p>
  </div>
</footer>
