<footer>
  <div class="wrapper">
    <div class="links">
      <ul>
        <li><h6>Languages</h6></li>
        <li><img src="../../../assets/flags/flag-usa.png" alt="icon flag"/>English</li>
      </ul>
      <ul>
        <li><h6>Resources</h6></li>
        <li><a routerLink="/client/guide">Guide</a></li>
      </ul>
      <ul>
        <li><h6>Navigation</h6></li>
        <li><a routerLink="/client/trending">Trending</a></li>
      </ul>
      <ul>
        <li><h6>Support</h6></li>
        <li><a routerLink="/client/products">Contacts</a></li>
      </ul>
    </div>
    <div class="social">
      <h5>Subscribe to our newsletter</h5>
      <form>
        <input type="text">
        <input type="submit" value="GO">
      </form>
    </div>
  </div>
  <div class="wrapper-bottom">
    <p>&copy; 2019 GPM</p>
  </div>
</footer>
